<section class="product">
		<h3><%= link_to product.name, store_product_path(product) %></h3>
		<% if product.image_filename %>
			<p class="image"><%= image_tag product.image_filename, :width => '200' %></p>
			<% end %>
		<p class="description">
			<%= product.description %>
		</p>
		<p class="price">
			Sale: <%= number_to_currency product.price %>
		</p>
		<p class="qty">
			Stock: <%= product.quantity %>
		</p>
			
	</section>