<section class="product">
		<h3><%= link_to product.name, store_product_path(product) %></h3>
		<% if product.image_filename %>
			<p class="image"><%= image_tag product.image_filename %></p>
			<% end %>
		<div class="description">
			<%= product.description %>
		</div>
		<p class="price">
			<%= number_to_currency product.price %>
		</p>
		<p class="qty">
			<%= product.quantity %>
		</p>
			
	</section>